body {
    font-family: sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 1em;
    color: #333;
}

select {
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid #888;
    border-radius: 6px;
    background-color: #f9f9f9;
    color: #333;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #656565;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 200ms ease;
}

button:hover {
    background-color: #656565;
    box-shadow: 1px 1px 2px #202020;
}

button:active {
    background-color: #656565;
    box-shadow: inset 1px 1px 10px #202020;
}

.entry {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
    background: #fff;
}

label {
    display: block;
    margin-top: 0.5em;
    font-weight: bold;
}

input,
textarea,
.content-display {
    width: 97%;
    padding: 0.5em;
    margin-top: 0.2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    resize: none;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    margin-top: 0.5em;
}

.date {
    font-size: 0.9em;
    color: #666;
}

.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-container h3 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container .login-status {
    cursor: pointer;
    width: fit-content;
    display: flex;
    justify-self: flex-end;
    margin-bottom: 5px;
}

.login-container .login-status:hover {
    color: #eebe3a;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container .result {
    margin-top: 15px;
    font-size: 0.9em;
    color: #333;
}

.content-display {
    display: block;
    flex-direction: column;
}

.content-display h1,
.content-display h2,
.content-display h3,
.content-display h4,
.content-display h5,
.content-display h6 {
    margin: 0;
}

.content-display p {
    border-left: 5px solid var(--border);
    padding-left: 1rem;
    margin: 0;
}

.content-display span:not(code span) {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    font-family: 'JetBrains Mono', 'Courier New', monospace;
    background-color: var(--border);
    padding: 5px;
    margin: 0px 5px;
    border-radius: 5px;
}

.content-display table {
    border-collapse: collapse;
    border-spacing: 0;
}

.content-display td,
.content-display th {
    border: 2px solid var(--border);
}

.content-edit {
    display: none;
}

.content-tools {
    position: sticky;
    top: 0px;
    display: none;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 98.25%;
}

.content-tools button {
    margin: 1px;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px #202020;
}

.content-tools h1,
.content-tools h2,
.content-tools h3,
.content-tools h4,
.content-tools h5,
.content-tools h6 {
    margin: 0;
}

.content-tools button:active {
    box-shadow: inset 1px 1px 2px #202020;
}

#manualEditor {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
    background: #fff;
    position: relative;
}

.profile-container {
    border: 1px solid #ccc;
    padding: 1em;
    background: #fff;
    position: relative;
}

.logout-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.logout-container button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-container button:hover {
    background-color: #c82333;
}

.change-password-container {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
    background: #fff;
}

.content-begin-images {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
    background: #fff;
    border-radius: 4px;
}

.content-preview {
    display: flex;
    align-items: end;
}

.content-input-preview {
    width: fit-content;
    transform: scale(1.5);
    margin-left: 15px;
}

.allow-comments {
    display: flex;
    align-items: end;
}

.allow-comments-input {
    width: fit-content;
    transform: scale(1.5);
    margin-left: 15px;
}

.comments-element {
    width: 97%;
    padding: 0.5em;
    margin-top: 0.2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    resize: none;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comments-element>button {
    color: #333;
    background: #ccc;
}

.comment-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reply-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reply-comment {
    margin-left: 50px;
}

#tagInputContainer {
    display: flex;
    gap: 8px;
    align-items: center;
}

#tagInputContainer input {
    flex: 1;
}

#tagInputContainer button {
    flex-shrink: 0;
}

#tagList {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: var(--border);
    border-radius: 25px;
    padding-left: 20px;
    user-select: none;
}

.tag button {
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

#suggestions {
    margin-top: 5px;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    width: 200px;
    display: none;
}

.suggestion {
    padding: 6px 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.suggestion:hover {
    background-color: #f0f0f0;
}