body {
    font-family: sans-serif;
    background: #f9f9f9;
    padding: 2em;
    color: #333;
}

.entry {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
    background: #fff;
}

label {
    display: block;
    margin-top: 0.5em;
    font-weight: bold;
}

input,
textarea {
    width: 97%;
    padding: 0.5em;
    margin-top: 0.2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    resize: none;
    overflow: hidden;
}

img {
    max-width: 100px;
    margin-top: 0.5em;
}

.date {
    font-size: 0.9em;
    color: #666;
}

.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-container h3 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container .login-status {
    cursor: pointer;
    width: fit-content;
    display: flex;
    justify-self: end;
}

.login-container .login-status:hover {
    color: #eebe3a;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container .result {
    margin-top: 15px;
    font-size: 0.9em;
    color: #333;
}

#manualEditor {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
    background: #fff;
    position: relative;
}

.profile-container {
    border: 1px solid #ccc;
    padding: 1em;
    background: #fff;
    position: relative;
}

.logout-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.logout-container button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-container button:hover {
    background-color: #c82333;
}

.change-password-container {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
    background: #fff;
}